<div class="container">
    <div class="left-col">
        <img src="https://miro.medium.com/max/1400/1*QJ3h8Z11EVkxS4XmsVxjuQ.jpeg" alt="logo de angular">
    </div>
    <div class="right-col">
        <p>Esta es la página de inicio del laboratorio de <img class="img-angular" src="https://cdn.worldvectorlogo.com/logos/angular-3.svg" alt="angular"> para el master de 
        <img src="https://images.squarespace-cdn.com/content/v1/56cdb491a3360cdd18de5e16/1536155167931-3JJ7O74IM4QP88L0RQS9/3_200.png" alt="lemoncode" /> 2022</p>
    </div>
</div>
